<header class="header-container">
    <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/coffee-shop-logos-design-template-cda8575e146cc5ba17cd3c1a24d65ba1_screen.jpg?ts=1638177256"
         alt="Coffee Shop Logo"
         class="header-logo" />
  
    <nav class="main-nav">
      <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/menu" routerLinkActive="active-link">Menu</a>
      <a routerLink="/coffee" routerLinkActive="active-link">Coffee</a>
      <a routerLink="/about" routerLinkActive="active-link">About</a>
      <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </nav>
  </header>
  